<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Web App</title>
    <link rel="stylesheet" href="..\static\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-header">
        <h1>Expenses</h1>
        <p>Balance:</p>
        <div class="container-buttons">
            <button>+ New</button>
            <button>Edit</button>
            <button>Refresh</button> 
        </div>
    </div>   
    <table>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Descrption</th>
            <th>Income</th>
            <th>Outcome</th>
            <th>Balance</th>
        </tr>
    </table>
</body>
</html>