<form action="/submit_new" method="post" id="new_transaction"> 
    <br> 
    <div class="mb-2">
        <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button" id="saving_btn">Saving Mode Off</a>
    </div>
    

    <div class="mb-2 btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="Type" id="btnradio1" autocomplete="off" value="1" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Expense</label>
      
        <input type="radio" class="btn-check" name="Type" id="btnradio2" autocomplete="off" value="2">
        <label class="btn btn-outline-primary" for="btnradio2">Income</label>
    </div>
    

    <div class="mb-2">
        <label >Date:</label>
        <input type="date" name="Date" value="{{today}}">  
    </div>

    <div class="mb-2">
        <label >Category:</label>
        <select name="Category" id="category"> 
            {% for category in categories %}
                <option value="{{category['id_category']}}">{{category['Category']}}</option>
            {% endfor %}
        </select>
    </div> 

    <div class="mb-2">
        <label >Description:</label>
        <input type="text" name="Description" placeholder="Coquita"> 
    </div>               

    <div class="mb-2">
        <label >Amount in ARGs:</label>
        <input type="text" name="Amount_ARG" placeholder="150"> 
    </div> 

    <div class="mb-2">
        <label >Amount in USD:</label>
        <input type="text" name="Amount_USD" id="amount_usd" value="0"> 
    </div> 

    <script>
        $(document).ready(function(){
            $('#amount_usd').parent().hide();
        });

        document.addEventListener('DOMContentLoaded', function() {
            var button = document.getElementById('saving_btn');
            var status = false;
            button.addEventListener('click', function() {
                if (status == false) {
                    button.textContent = 'Saving Mode On';
                    status = true;
                    $('#amount_usd').parent().show();
                    $('#category').prop('disabled',true);
                    $('#category').val('3');
                } else if (status == true) {
                    button.textContent = 'Saving Mode Off';
                    status = false;
                    $('#amount_usd').parent().hide();
                    $('#category').prop('disabled',false);
                    $('#category').val('2');
                    $('#amount_usd').val('0');
                }
                
            });
        });
    </script>

    <input type="submit" class="btn btn-secondary">
    <a href="/" class="btn btn-secondary">Cancel</a>
</form>

<script>
    document.getElementById('new_transaction').addEventListener('submit', function() {
            document.getElementById('category').disabled = false;
        });
</script>