<tr>
    <td> <a href="/edit/{{transaction['id']}}"><img src="..\static\icons8-edit-24.png"></img></a> </td>
    <th scope="row">{{transaction['id']}}</th>
    <td>{{transaction['date']}}</td>
    <td>{{transaction['category']}}</td>
    <td>{{transaction['description']}}</td>
    {% if transaction['type'] == 1 or transaction['type'] == 3 %}
        <td>-</td>
        <td>-${{transaction['amount_arg']}}</td> 
    {% elif transaction['type'] == 2 %}           
        <td>+${{transaction['amount_arg']}}</td>   
        <td>-</td>     
    {% endif %}         
    <td><b>{{transaction['balance']}}</b></td>
</tr>